.login_modal form label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#modal-content{
    border-radius: 20px;
}

.login-sign{
    display: flex;
    justify-content: center;

    margin: 10px 0 10px 0;
}
span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.login_welcome{
    border-top: 2px solid lightgray;

}
.login_welcome h1{
    color: tomato;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    margin-top: 5%;
    display: flex;

    justify-content: center;
}


form{
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    justify-content: center;
    border-radius: 10px;
  }

  .login-button{
    background-color: white;
   padding-right: 3px;
    padding: 6px;
      border: 1px solid tomato;
      border-radius: 10px;
      color: tomato;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
  }


  .login-button:hover{
    background-color: tomato;
    color: black;
    cursor: pointer;
  }

  .errors{
    color: red;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;


  }

  .submit{
    background-color: white;
   padding: 10px;
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    width: 100px;
    margin-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;

}

.submit:hover{
    background-color: tomato;
    color: black;
    cursor: pointer;
  }

  .error_text{
    width: 300px;
  }
